## p.43~

In [1]:
# input() 함수로 정보 입력받기

txt1 = input()

2

In [2]:
txt2 = input('점심 뭐 드셨어용?')

점심 뭐 드셨어용?수라상

In [3]:
# 연습문제
# 1.

food1 = '짜장면'
food2 = '짬뽕'

input('첫번째 주문하실 음식은 무엇인가요?')
input('두번째 주문하실 음식은 무엇인가요?')
print('첫번째 주문하신 음식은 %s 이고 두번째 주문하신 음식은 %s 입니다.' %(food1, food2))

첫번째 주문하실 음식은 무엇인가요?짜장면
두번째 주문하실 음식은 무엇인가요?짬뽕
첫번째 주문하신 음식은 짜장면 이고 두번째 주문하신 음식은 짬뽕 입니다.

In [4]:
area_no = input('''
1. 서울 2. 대전 3. 광주 4. 부산
5. 경남 6. 경북 7. 충청 8. 제주

위 지역 중 정보를 조회할 지역의 번호를 입력하세요: ''')

1. 서울 2. 대전 3. 광주 4. 부산
5. 경남 6. 경북 7. 충청 8. 제주

위 지역 중 정보를 조회할 지역의 번호를 입력하세요: 3

In [5]:
menu = input('''
1. 짜장면 2. 울면 3. 짬뽕 4. 깐풍기 5. 칠리새우

1. 위 메뉴 중 주문할 메뉴의 번호를 입력하세요 : ''')

menuNum = input('''2. 위 메뉴의 주문 수량을 입력하세요 : ''')  

print(f'주문하신 메뉴 번호는 {menu} 이고 주문 수량은 {menuNum}개 입니다')

1. 짜장면 2. 울면 3. 짬뽕 4. 깐풍기 5. 칠리새우

1. 위 메뉴 중 주문할 메뉴의 번호를 입력하세요 : 3
2. 위 메뉴의 주문 수량을 입력하세요 : 2
주문하신 메뉴 번호는 3 이고 주문 수량은 2개 입니다

In [6]:
# 연산자 사용 방법
# Case 1
i = 0
i = i + 2
print("i에 저장된 값은 %s 입니다" %i)

# Case 2
j = 0
j += 3
print("j 에 저장된 값은 %s 입니다" %j)

i에 저장된 값은 2 입니다
j 에 저장된 값은 3 입니다

In [7]:
# 정수형으로 변환하기 - 변환 후

no1 = int( input('첫번째 숫자 입력: ') )
no2 = int( input('두번째 숫자 입력: ') )

print('''첫번째 숫자는 %s 이고 두번째 숫자는 %s 이며
두 숫자의 합은 %s 입니다''' %(no1, no2, no1+no2))

첫번째 숫자 입력: 5
두번째 숫자 입력: 3
첫번째 숫자는 5 이고 두번째 숫자는 3 이며
두 숫자의 합은 8 입니다

## 숫자 타입에서 많이 사용되는 주요 함수 p.51~

In [8]:
#a) round() - 반올림 함수

no1 = 3.45678
no2 = 3.56789
print("원래값 : %s , 반올림후 값: %s" %(no1, round(no1) ) )
print("원래값 : %s , 반올림후 값: %s" %(no2, round(no2) ) )

원래값 : 3.45678 , 반올림후 값: 3
원래값 : 3.56789 , 반올림후 값: 4

In [9]:
#a round() - 반올림 함수의 소수점 이하 자리수 지정

no1 = 3
no2 = 5
print("반올림하기 전 원래값:", no2 / no1)
print("소수 첫째자리까지 반올림하기:", round(no2 / no1,1) )
print("소수 둘째자리까지 반올림하기:", round(no2 / no1,2) )

반올림하기 전 원래값: 1.6666666666666667
소수 첫째자리까지 반올림하기: 1.7
소수 둘째자리까지 반올림하기: 1.67

In [10]:
#b trunc() - 버림 함수
import math

no1 = 3
no2 = 5
print("버림하기 전 원래 값", no2 / no1)
print("소수 첫째자리까지 버림하기", math.trunc(no2 / no1) )

버림하기 전 원래 값 1.6666666666666667
소수 첫째자리까지 버림하기 1

In [11]:
#c ceil() - 큰 정수 찾기 함수

cnt = int( input("총 몇 건의 데이터를 수집할까요? :") )
# 한 페이지에 15건의 게시물이 있다고 가정하고 계산합니다.
page_cnt = math.ceil( cnt / 15 )
print("총 %s 페이지까지 데이터를 수집해야 합니다" %page_cnt)

총 몇 건의 데이터를 수집할까요? :10
총 1 페이지까지 데이터를 수집해야 합니다

In [13]:
# 숫자 타입에서 많이 사용되는 주요 함수
#d floor() - 작은 정수 찾기 함수
import math

no1 = 4.9
no2 = 4.1

print("%s 보다 작으면서 가장 가까운 정수는 %s 입니다" %(no1, math.floor(no1)))
print("%s 보다 작으면서 가장 가까운 정수는 %s 입니다" %(no2, math.floor(no2)))

4.9 보다 작으면서 가장 가까운 정수는 4 입니다
4.1 보다 작으면서 가장 가까운 정수는 4 입니다

In [15]:
#2. 문자형 유형
# 2) 인덱싱과 슬라이싱

str1 = '파이썬완전쉽죠?'
print(str1)
print(str1[0])
print(str1[1])

파이썬완전쉽죠?
파
이

In [16]:
# 슬라이싱 예제

str1 ='파이썬완전쉽죠?'
print(str1)

print(str1[0:4])

파이썬완전쉽죠?
파이썬완

In [17]:
# 슬라이싱 예제 2

str1 = '파이썬 완전 쉽죠?'

print(str1[3:])
print(str1[:3])

 완전 쉽죠?
파이썬

##### 인덱싱과 슬라이싱은 나중에 크롤러 만들때 웹사이트 주소나 파일명 등을 뽑아낼 때 아주 많이 사용

In [18]:
# [ lower() 함수 / upper() 함수]
# 입력 문자를 소문자/대문자 바꾸기

str2 = "PyThoN" # 대소문자 섞여 있음
print(str2.lower())
print(str2.upper())

python
PYTHON

In [19]:
# [ lstrip() / rstrip() / strip() ]
# 문자열에서 좌/우 공백 제거하기

str3 = "    <- 이쪽 끝에 공백 있었어요"
str4 = "오른쪽 끝에 공백 있었어요->    "
str5 = "    <- 양쪽 끝에 공백 있었어요->   "

print( str3.lstrip() )
print( str4.rstrip() )
print( str5.strip() )

<- 이쪽 끝에 공백 있었어요
오른쪽 끝에 공백 있었어요->
<- 양쪽 끝에 공백 있었어요->

In [21]:
#[ replace() ]
str6 = '새우깡도 해산물 인가요?'
print(str6.replace('새우깡', '먹태깡'))

먹태깡도 해산물 인가요?

위 함수는 웹크롤러 만들 때 특정 기호나 문자를 제거할 때 아주 많이 사용!

In [22]:
# [ split() ]

tel = '02-1234-5678'
print(tel.split('-'))
print(tel.split('-',1))

['02', '1234', '5678']
['02', '1234-5678']

위 함수는 웹크롤러 만들 때 URL 주소를 찾을 때 아주 많이 사용!

In [23]:
#[ len() ]

str1 = '파이썬 완전 좋아요'
str2 = ['파이썬', '웹크롤러', '가치랩스']

print(len(str1))
print(len(str2))

10
3

리스트에 있는 항목의 개수(행의 수)도 len()함수로 확인

In [1]:
# 문자열로 환산하기

print("=" *80)
print("문자열로 연산하기 실습")
print("+" *80)

================================================================================
문자열로 연산하기 실습
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

주석이나 특정표시 할 때 많이 사용!

### p.59

In [2]:
# 리스트 유형 예제

list1 = ['1982-07-15', '홍길동', 30]
print(list1)

['1982-07-15', '홍길동', 30]

In [1]:
# append() 함수 / insert() 함수

list2 = ['첫째', '둘째', '셋째']
list2.append('append로 추가한 것')
list2.insert(2, 'insert로 추가한 것')
print(list2)

['첫째', '둘째', 'insert로 추가한 것', '셋째', 'append로 추가한 것']

In [2]:
# [ del() 함수 / remove() 함수]

print('삭제전목록', list2)
del list2[2]
print('del로 삭제후 목록', list2)

list2.remove("append로 추가한 것")
print('remove 로 삭제후 목록', list2)

삭제전목록 ['첫째', '둘째', 'insert로 추가한 것', '셋째', 'append로 추가한 것']
del로 삭제후 목록 ['첫째', '둘째', '셋째', 'append로 추가한 것']
remove 로 삭제후 목록 ['첫째', '둘째', '셋째']

In [2]:
#[ sort()함수와 reverse()함수]

list3 = [ 3, 1, 5, 8, 2]
list3.sort()
print('오름차순(기본)정렬후', list3)

list3.reverse()
print('내림차순 정렬후', list3)

list4 = ['banana', 'apple', 'cherry', 'Apple']
list4.sort()
print('영어 정렬', list4)

list5 = ['홍길동', '전우치', '김유신', '이순신']
list5.sort()
print('한글 정렬', list5)

오름차순(기본)정렬후 [1, 2, 3, 5, 8]
내림차순 정렬후 [8, 5, 3, 2, 1]
영어 정렬 ['Apple', 'apple', 'banana', 'cherry']
한글 정렬 ['김유신', '이순신', '전우치', '홍길동']

#### 연습문제

In [21]:
list6 = ['홍길동', '일지매']
print('현재 이 과목의 수강 신청자는', list6, '입니다.')

first = input('목록에 추가할 첫번째 학생의 이름을 입력하세요:')
list6.append(first)
print(first,'학생의 신청이 완료되었습니다')

second = input('목록에 추가할 두번째 학생의 이름을 입력하세요:')
list6.append(second)
print(second,'학생의 신청이 완료되었습니다')

print('현재 이 과목의 최종 수강 신청자는', list6, '입니다')

현재 이 과목의 수강 신청자는 ['홍길동', '일지매'] 입니다.
목록에 추가할 첫번째 학생의 이름을 입력하세요:전우치
전우치 학생의 신청이 완료되었습니다
목록에 추가할 두번째 학생의 이름을 입력하세요:유관순
유관순 학생의 신청이 완료되었습니다
현재 이 과목의 최종 수강 신청자는 ['홍길동', '일지매', '전우치', '유관순'] 입니다

In [23]:
print('현재 수강 신청자는', list6, '입니다')

third = input('수강 철회하는 학생의 이름을 쓰세요:')
list6.remove(third)

print(third,'학생의 수강 신청 철회가 완료되었습니다')
list6.sort()
print('현재 이 과목의 최종 수강 신청자는', list6, '입니다.')

현재 수강 신청자는 ['홍길동', '일지매', '전우치', '유관순'] 입니다
수강 철회하는 학생의 이름을 쓰세요:전우치
전우치 학생의 수강 신청 철회가 완료되었습니다
현재 이 과목의 최종 수강 신청자는 ['유관순', '일지매', '홍길동'] 입니다.

In [20]:
stu2 = '홍길동, 일지매, 유관순'
print('현재 이 과목의 최종 수강 신청자는', stu2, '입니다')

four = input('변경 전 이름을 입력하세요: ')
five = input('변경 후 이름을 입력하세요: ')

list6.insert(0, five)
list6.remove(four)
print('요청하신대로', four, '을', five, '(으)로 변경하였습니다.')
print('현재 이 과목의 최종 수강 신청자는', list6, '입니다')

현재 이 과목의 최종 수강 신청자는 홍길동, 일지매, 유관순 입니다
변경 전 이름을 입력하세요: 홍길동
변경 후 이름을 입력하세요: 강감찬
요청하신대로 홍길동 을 강감찬 (으)로 변경하였습니다.
현재 이 과목의 최종 수강 신청자는 ['강감찬', '유관순', '일지매'] 입니다

## p.65~ 조건문과 반복문

In [24]:
# Part 2_4, 조건문과 반복문 활용하기

# 예제 1
name = input('조회할 사람의 이름을 입력하세요: ')

if name == '홍길동' :
    print('홍길동 입니다')
    print('남자입니다')
    print('활빈당 총수입니다')

조회할 사람의 이름을 입력하세요: 홍길동
홍길동 입니다
남자입니다
활빈당 총수입니다

In [27]:
# 예제 3
name = input('조회할 사람의 이름을 입력하세요 : ')

if name == '홍길동' :
    print('홍길동 입니다')
    print('남자입니다')
    print('활빈당 총수입니다')
else :
    print('홍길동이 아니고 %s 입니다' %name)
    print('남자인가요?')
    print('여자인가요?')

조회할 사람의 이름을 입력하세요 : 일지매
홍길동이 아니고 일지매 입니다
남자인가요?
여자인가요?

In [31]:
# 예제 4

jumsu = int(input('점수를 입력하세요: '))

if jumsu >= 91 and jumsu <= 100 :
    print(' A 등급입니다 ')
elif jumsu >= 81 and jumsu <= 90 :
    print(' B 등급입니다 ')
elif jumsu >= 71 and jumsu <= 80 :
    print(' C 등급입니다 ')
else :
    print(' D 등급입니다')

점수를 입력하세요: 81
 B 등급입니다

In [32]:
# 예제 5

jumsu = int(input('점수를 입력하세요: '))

if jumsu >= 91 & jumsu <= 100 :
    print(' A 등급입니다 ')
elif jumsu >= 81 & jumsu <= 90 :
    print(' B 등급입니다 ')
elif jumsu >= 71 & jumsu <= 80 :
    print(' C 등급입니다 ')
else :
    print(' D 등급입니다')

점수를 입력하세요: 99
 A 등급입니다

In [34]:
# 예제 6
answer = input('Y 또는 y를 입력하세요: ')
if answer == 'Y' or answer == 'y' :
    print('입력하신 문자는 %s입니다' %answer)
else :
    print('Y 또는 y를 입력하세요')

Y 또는 y를 입력하세요: n
Y 또는 y를 입력하세요

In [37]:
# 예제 7
answer = input('Y 또는 y를 입력하세요: ')
if answer != 'Y' and answer != 'y' :
    print('입력하신 문자는 %s입니다'%answer)
else :
    print('Y또는 y를 입력하셨군용~')

Y 또는 y를 입력하세요: N
입력하신 문자는 N입니다

#### 연습문제

In [46]:
# 문제 1
no1 = int(input('숫자를 입력하세요: '))
if no1 % 3 == 0 :
    no1 = no1*no1
    print('입력한 숫자는 3의 배수랍니다. 제곱을 출력합니다', no1)
else :
    print('입력한 숫자는 3의 배수가 아니네요', 0)

숫자를 입력하세요: 465
입력한 숫자는 3의 배수랍니다. 제곱을 출력합니다 216225

In [52]:
# 문제 2
fruits = input('사과, 감, 귤 중에 어떤 과일 좋아하세요?: ')
if fruits == '사과':
    print('GOOD~')
elif fruits == '감' :
    print('Very GOOD~')
elif fruits == '귤' :
    print('so so...')
else :
    print('%s? 사과나 감, 귤 중에서 하나를 입력하라고 했잖아요'%fruits)

사과, 감, 귤 중에 어떤 과일 좋아하세요?: 고구마
고구마? 사과나 감, 귤 중에서 하나를 입력하라고 했잖아요

In [55]:
# 문제 3
fruits = input('사과, 감, 귤 중에 어떤 과일 좋아하세요?: ')
if fruits == '사과' or fruits == '감':
    print('Very GOOD~')
elif fruits == '귤' or fruits == '복숭아' :
    print('GOOD~')
else :
    print('%s? 사과나 감, 귤, 복숭아 중에서 하나를 입력하라고 했잖아요'%fruits)

사과, 감, 귤 중에 어떤 과일 좋아하세요?: 복숭아
GOOD~

In [66]:
# 문제 4
print('1. 짜장면 - 5,000원 2. 짬뽕 - 6,000원')
print('3. 군만두 - 8,000원 4. 탕수육 - 10,000원')

menu1 = int(input('1. 위 메뉴 중 주문할 메뉴의 번호를 쓰세요: '))
menu2 = int(input('2. 위 메뉴의 주문 수량을 쓰세요: '))
price = 0

if menu1 == 1 :
    menu_name = '짜장면'
    price = 5000
    result = menu2 * price
elif menu1 == 2 :
    menu_name = '짬뽕'
    price = 6000
    result = menu2 * price
elif menu1 == 3 :
    menu_name = '군만두'
    price = 8000
    result = menu2 * price
else :
    menu_name = '탕수육'
    price = 10000
    result = menu2 * price

print('주문하신 메뉴는', menu_name,'이고 주문 수량은', menu2,'그릇이며 주문금액은', result, '입니다')

1. 짜장면 - 5,000원 2. 짬뽕 - 6,000원
3. 군만두 - 8,000원 4. 탕수육 - 10,000원
1. 위 메뉴 중 주문할 메뉴의 번호를 쓰세요: 3
2. 위 메뉴의 주문 수량을 쓰세요: 2
주문하신 메뉴는 군만두 이고 주문 수량은 2 그릇이며 주문금액은 16000 입니다

지피티의 답안

In [67]:
# 메뉴와 가격을 딕셔너리로 정의
menu = {
    1: {'name': '짜장면', 'price': 5000},
    2: {'name': '짬뽕', 'price': 6000},
    3: {'name': '군만두', 'price': 8000},
    4: {'name': '탕수육', 'price': 10000}
}

# 메뉴 출력
print('1. 짜장면 - 5,000원 2. 짬뽕 - 6,000원')
print('3. 군만두 - 8,000원 4. 탕수육 - 10,000원')

# 주문 정보 입력
menu_num = int(input('주문할 메뉴의 번호를 입력하세요: '))
quantity = int(input('주문 수량을 입력하세요: '))

# 입력된 번호로 메뉴와 가격을 가져옴
selected_menu = menu.get(menu_num)

if selected_menu:
    menu_name = selected_menu['name']
    price = selected_menu['price']
    total_price = price * quantity
    print(f'주문하신 메뉴는 {menu_name}이고 주문 수량은 {quantity}그릇이며 주문금액은 {total_price}원 입니다')
else:
    print('잘못된 메뉴 번호입니다.')

1. 짜장면 - 5,000원 2. 짬뽕 - 6,000원
3. 군만두 - 8,000원 4. 탕수육 - 10,000원
주문할 메뉴의 번호를 입력하세요: 1
주문 수량을 입력하세요: 2
주문하신 메뉴는 짜장면이고 주문 수량은 2그릇이며 주문금액은 10000원 입니다

#### for 반복문 (p.73)

In [68]:
# 예제 9

for i in (1, 2, 3) :
    print(i)

1
2
3

In [71]:
# 예제 10

for i in ('하나', '둘', '셋') :
    print(i)
    
data = ["하나", "둘", "셋"]
for i in data :
    print(i)

하나
둘
셋
하나
둘
셋

In [72]:
# 예제 11

data = ["김남준", "김석진", "민윤기"]
for i in data :
    print("%s 님은 BTS이고 대한민국의 자랑이다!" %i)

김남준 님은 BTS이고 대한민국의 자랑이다!
김석진 님은 BTS이고 대한민국의 자랑이다!
민윤기 님은 BTS이고 대한민국의 자랑이다!

In [74]:
# 예제 12

for i in range(1, 5) :
    print("밥 %s 그릇 주세요~"%i)

밥 1 그릇 주세요~
밥 2 그릇 주세요~
밥 3 그릇 주세요~
밥 4 그릇 주세요~

#### while 반복문 (p.76)

In [75]:
# 예제 13

no1 = 1
while no1 < 9 :
    print(no1)
    no1 += 2

1
3
5
7

In [76]:
# 예제 14

no1 = 0
while no1 < 9 :
    no1 += 2
    print(no1)

2
4
6
8
10

In [78]:
# break문과 contunue문
# 예제 15

snack = ["새우깡", "감자깡", "고구마깡", "맛동산", "짱구"]
for i in snack :
    if i == "고구마깡" :
        break
    print(i, "완전 맛있어요!")

새우깡 완전 맛있어요!
감자깡 완전 맛있어요!

In [79]:
# 예제 16

snack = ["새우깡", "감자깡", "고구마깡", "맛동산", "짱구"]
for i in snack :
    if i == "고구마깡" :
        continue
    print(i, "과자는 농심")

새우깡 과자는 농심
감자깡 과자는 농심
맛동산 과자는 농심
짱구 과자는 농심

### 연습문제(p.80)

In [85]:
for i in 
    print('1. 짜장면 - 5,000원 2. 짬뽕 - 6,000원')
    print('3. 군만두 - 8,000원 4. 탕수육 - 10,000원')
    print()

    menu1 = int(input('1. 위 메뉴 중 주문할 메뉴의 번호를 쓰세요: '))
    menu2 = int(input('2. 위 메뉴의 주문 수량을 쓰세요: '))
    price = 0

    if menu1 == 1 :
        menu_name = '짜장면'
        price = 5000
        result = menu2 * price
    elif menu1 == 2 :
        menu_name = '짬뽕'
        price = 6000
        result = menu2 * price
    elif menu1 == 3 :
        menu_name = '군만두'
        price = 8000
        result = menu2 * price
    else :
        menu_name = '탕수육'
        price = 10000
        result = menu2 * price

    print('주문하신 메뉴는', menu_name,'이고 주문 수량은', menu2,'그릇이며 주문금액은', result, '입니다')
    print()

    menu3 = input('3. 추가 주문을 하시겠습니까? (Y / N) : ')
    print()

1. 짜장면 - 5,000원 2. 짬뽕 - 6,000원
3. 군만두 - 8,000원 4. 탕수육 - 10,000원

1. 위 메뉴 중 주문할 메뉴의 번호를 쓰세요: 4
2. 위 메뉴의 주문 수량을 쓰세요: 2
주문하신 메뉴는 탕수육 이고 주문 수량은 2 그릇이며 주문금액은 20000 입니다

3. 추가 주문을 하시겠습니까? (Y / N) : y
1. 짜장면 - 5,000원 2. 짬뽕 - 6,000원
3. 군만두 - 8,000원 4. 탕수육 - 10,000원
1. 위 메뉴 중 주문할 메뉴의 번호를 쓰세요: 3
2. 위 메뉴의 주문 수량을 쓰세요: 4
주문하신 메뉴는 군만두 이고 주문 수량은 4 그릇이며 주문금액은 32000 입니다